* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.page {
  min-height: 100vh;
  width: 95%;
  margin: auto;
  text-align: center;

  background-color: #d6f0fd;
}
.landing {
  background-color: #87A4B0;
  min-height: 100vh;
  /* transform-origin: 50% 100%; */
}
.title {
  text-align: center;
  margin: auto;
  /* display: flex; */
}


.title div{
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Poller One', cursive;
  /* font: 1.5rem 'LeagueMonoVariable', sans-serif; */
  /* font-stretch: expanded; */
  /* perspective: 400px; */
  /* transform-origin: 50% 100%; */
  /* transform: skew(15deg); */
  transform: perspective(10px) rotateX(1deg);
  /* transform: rotateX(1deg); */
  /* transform: perspective(10px) rotateX(1deg); */
  
  /* display: flex; */
  font-size: 15vw;
  word-spacing: 100vw; /* forces all words to be on a newline */
}

#bestScore{
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 1.5rem;
  padding: .5em 1em;
}

#startBtn {
  /* font: inherit; */
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  /* create a small space when buttons wrap on 2 lines */
  margin: 2px 0;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;
  width: 50%;

  /* make sure colors have enough contrast! */
  color: #ffffff;
  /* background-color: #9555af; */
  
  background-color: #ABAEB0;
}


#gameArea {
  background-color: #565F63;
  min-height: 100vh;
}
#cardList{
  display: grid;
  /* grid: auto-flow/ repeat(5, 80px); */
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  
}
.card {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */

  width: 6rem;
  height: 6rem;
  /* padding: 2em 2em; */
  margin: auto;
  border: solid 1px;
  border-radius: 4px;
  text-align: center;
  transition: transform 0.8s;
  /* transform: rotateY(180deg); */

  background-color: #634D50;
}

.done, 
.flipped{
  background-color: #63624D;
  transition: transform .8s;
  transform: rotateY(180deg);
  /* transform: matrix(2.304, 1.020, 0.000, 2.098, 138.441, -46.000); */
}


.img{
  display: none;
  transform: rotateY(180deg);
  height: 100%;
}

.flipped .img, 
.done .img{
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

#score {
  background-color: inherit;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 5rem;
  /* border: 1px solid white; */
  font-family: 'Ubuntu', sans-serif;
}